.Header {
}

.Drawer {
  height: 100%;
  padding: 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Drawer_Button {
  display: block;
  border-radius: .5rem;
  font-weight: bold;
  text-transform: none;
  background-color: white;
  color: black;
}

.Drawer_Button  + .Drawer_Button {
  margin-top: 1rem;
}

.Drawer_Language {
  margin-left: 4rem;
  min-width: 0;
  padding-right: 0;
  padding-left: 0;
  font-size: 24px;
}
